/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@font-face {
    font-family: 'Roboto Mono';
    src: url(./assets/fonts/roboto-mono.woff2);
}

* {
    font-family: 'Roboto Mono';
}