.breed {
  width: 1200px;
  max-width: 90%;
  margin: 50px auto 0;

  &__imageCol {
    position: sticky;
    top: 100px;
    max-height: 68vh;
    align-content: center;

    @media screen and (max-width: 767px) {
      top: 50px;
      z-index: 1;
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 20px;
    position: sticky;
    top: 100px;

    @media screen and (max-width: 767px) {
      position: initial;
      box-shadow: 0px 5px 8px 20px rgb(244 235 221);
      aspect-ratio: 4 / 3;
    }
  }

  &__detail {
    margin: 50px auto 0;
    max-width: 90%;

    @media screen and (max-width: 767px) {
      margin: 2px auto 0;
      padding-right: 10px;
      overflow-y: scroll;
      max-height: 54vh;
      width: 100%;
      max-width: 100%;
    }
  }

  &__title {
    margin: 0 0 4px 0;
    font-weight: 600;
    font-size: 30px;
  }

  &__description {
    margin: 0;
    color: var(--ion-color-medium);
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;

    @media screen and (max-width: 767px) {
      position: initial;
      box-shadow: 0px 5px 100px 20px rgb(244 235 221);
      flex-direction: column;
      align-items: center;
    }
  }

  &__card {
    box-shadow: var(--box-shadow-card);
    background-color: var(--color-card);
    border-radius: 15px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  &__cardTitle {
    margin: 0 0 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: var(--ion-color-medium);
    font-weight: 500;

    ion-icon { font-size: 18px; }
  }

  &__cardValue {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }

  &__features {
    width: 500px;
    max-width: 90%;
    margin-top: 30px;
  }

  &__feature {
    margin: 20px 0;
  }

  &__featureTitle {
    font-size: 15px;
    margin: 0;
  }

  &__featureName {
    font-weight: 700;
  }

  &__items {
    display: grid;
    gap: 5px;
    margin-top: 5px;
    grid-template-columns: repeat(5, 1fr);
  }

  &__item {
    height: 8px;
    border-radius: 5px;
    width: 100%;
    background-color: var(--ion-color-light);
    background-image: linear-gradient(
      to right,
      var(--ion-color-primary-tint) 0%,
      var(--ion-color-primary-tint) 100%
    );
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s linear;
    flex-basis: 18px;
    flex-grow: 1;
    border: solid 1px var(--ion-color-primary-tint);

    &--active {
      background-size: 100% 100%;
    }
  }
}
