.breedList {
  width: 1200px;
  max-width: 90%;
  margin: 100px auto 0;

  &__card {
    box-shadow: var(--box-shadow-card);
    background-color: var(--color-card);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    max-width: 300px;
    margin: 20px auto;
    position: relative;

    &:hover {
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
      transform: translateY(-2px);

      .breedList__arrow {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: var(--ion-color-primary);
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: var(--ion-background-color);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 6px;
  }

  &__image {
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    aspect-ratio: 4 / 3;
    display: block;
  }

  &__info {
    width: 100%;
    padding: 20px;
    font-size: 15px;
  }

  &__title {
    color: var(--ion-color-dark);
    font-weight: 500;
    margin: 0;
  }

  &__origin {
    margin: 0;
    color: var(--ion-color-medium);
    font-weight: 400;
    display: inline-block;
  }

  &__line {
    margin: 0;
    display: flex;
    gap: 5px;

    &--spaced {
      margin-top: 5px;
    }
  }

  &__label {
    margin: 0;
    color: var(--ion-color-medium);
    font-weight: 400;
  }

  &__value {
    margin: 0;
    color: var(--ion-color-medium);
    font-weight: 300;
  }
}
