.search {
  background-image: url(/assets/images/abstract-cat.webp);
  background-color: #dfcd9c;
  height: 300px;
  background-size: contain;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  margin-top: -50px;
  align-content: end;

  &__container {
    transform: translateY(50%);
    width: 650px;
    max-width: 90%;
    margin: auto;

    ion-searchbar.search__bar {
      --box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
      --background: var(--color-card);
      --color: var(--ion-color-dark);
      --placeholder-color: var(--ion-color-medium);
      --icon-color: var(--ion-color-dark);
      --clear-button-color: var(--ion-color-dark);
      --border-radius: 8px;
    }

    ion-searchbar.search__bar.ios {
      min-height: 64px;
      --cancel-button-color: #19422d;
    }

    ion-searchbar.search__bar.md {
      min-height: 64px;
      --cancel-button-color: #fff;
    }
  }
}

:host ::ng-deep .search ion-searchbar.search__bar .searchbar-input-container {
  min-height: 64px;
}

:host ::ng-deep .search ion-searchbar.search__bar .searchbar-input {
  padding-inline-start: 55px !important;
}

:host ::ng-deep .search ion-searchbar.search__bar .searchbar-search-icon {
  inset-inline-start: 18px;
}
